body { 
    background-image: url(http://wallpapernature.net/wallpapers/2/wallpaper-cat-in-the-glasses-1024x768.jpg); }

p, a, h1, h2, h3, h4, h5, h6{
    color:black;
}

.jumbotron {
background-image : url('http://goo.gl/04j7Nn');
height : 500px;
}

